h1{
    color: #34434B;
}
.btn{
    border-radius: 0;
}
.btn-success:not(.btn-danger), .btn-success:not(.btn-danger):active, .btn-success:not(.btn-danger):focus, .btn-success:not(.btn-danger):active:focus{
    background-color: #a09474;
    border-color: #a09474;
}
.btn-success:not(.btn-danger):hover, .btn-success:not(.btn-danger):disabled, .btn-success:not(.btn-danger):disabled:hover{
    background-color: #aca286;
    border-color: #aca286;
}
.btn-xl {
    padding: 1.2rem 3rem;
}
.btn-primary, .btn-primary:active, .btn-primary:focus, .btn-primary:active:focus{
    background-color: #34434B;
    border-color: #34434B;
}
.btn-primary:hover, .btn-primary:disabled, .btn-primary:disable:hover{
    background-color: #3f515A;
    border-color: #3f515A;
}
.form-control{
    border-radius: 0;
    font-weight: lighter;
}
select{
    text-transform: uppercase;
    border: none !important;
    height: 3.5rem !important;
    -webkit-appearance: none;
}
textarea{
    background-color: #f7f7f7 !important;
    resize: none;
}
