<div class="row">
    <div class="col-xs-6">
        <h1>Logged Bugs</h1>
    </div>
    <div class="col-xs-6 text-xs-right">
        <!-- get access to all properties and methods using attr.xxxxxxx -->
        <!--        attribute binding: -->
        <button class="btn btn-success btn-lg" [attr.data-target]=" '#' + bugDetail.modalId" data-toggle="modal"><i class="fa fa-plus" aria-hidden="true"></i>Add Bug</button>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <table class="table">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Status</th>
                    <th>Severity</th>
                    <th>Description</th>
                    <th>Logged By</th>
                    <th>Date</th>
                </tr>
            </thead>
            <tbody>
                <!--create a row for each bug:  -->
                <!-- get access to all properties and methods using attr.xxxxxxx -->
                <!--        attribute binding: -->
                <tr *ngFor="let bug of bugs" [attr.data-target]=" '#' + bugDetail.modalId" data-toggle="modal">
                    <td>{{ bug.title }}</td>
                    <td>{{ bug.status }}</td>
                    <td>{{ bug.severity }}</td>
                    <td>{{ bug.description }}</td>
                    <td>{{ bug.createdBy }}</td>
                    <td>{{ bug.createdDate }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<!--display the modal window here  -->
<!-- "#" denotes a template reference variable (similar to 'bug' in 'ngFor="let bug of bugs"'')  -->
<bug-detail #bugDetail></bug-detail>