<!--why [id]? We use this attribute so that it can be updated and manipulated later without being bound
        by a hard coded id (instead using a property id:  -->
<div class="modal fade" [id]="modalId">
    <div class="modal-dialog modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <p>Bug Details</p>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Add Bug</button>
            </div>
        </div>
    </div>
</div>